#profile {
    display: flex;
}
#profile h5 {
    text-align: left;
    max-height: none;
    margin: 150px auto;
    font-family: "DejaVu Serif", serif;
    letter-spacing: 8px;
}
#profile span {
    font-weight: bold;
}